@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.box-1 {
  background: linear-gradient(140.26deg, #0ea5e9 9.76%, rgba(6, 6, 6, 0.99) 108.78%);
  border-radius: 16px;
}
.box-2 {
  background: linear-gradient(140.26deg, #0ee980 9.76%, rgba(6, 6, 6, 0.84) 108.78%);
  border-radius: 16px;
}
.box-3 {
  background: linear-gradient(140.26deg, #14b8a6 9.76%, rgba(40, 42, 43, 0.99) 108.78%);
  border-radius: 16px;
}

.togle > span:nth-child(1) {
  @apply rotate-45 origin-top-left;
}
.togle > span:nth-child(2) {
  @apply scale-0;
}
.togle > span:nth-child(3) {
  @apply -rotate-45 origin-bottom-left;
}
